# VARABLES DE ENTORNO A UTILIZAR EN LA APP
# CREAR EL ARCHIVO .ENV EN LA RAIZ Y ASIGNAR LOS VALORES CORRESPONDIENTES

# API_KEY PARA LOCATIONIQ
LOCATIONIQ_KEY=''

# API_KEY PARA OPENWEATHER_APP
OPENWEATHER_KEY=''